<a href="/" class="inline-block mb-4 text-blue-600 hover:underline">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 42 42"
  >
    <path
      fill="#000000"
      fill-rule="evenodd"
      d="M27.066 1L7 21.068l19.568 19.569l4.934-4.933l-14.637-14.636L32 5.933z"
    />
  </svg>
</a>

<div class="overflow-x-auto bg-white shadow-md rounded-lg p-2">
  <h1 class="text-3xl font-bold mb-6">All Users</h1>
  <div class="flex justify-between items-center m-4">
    <input
      type="text"
      id="searchInput"
      placeholder="Search by name or email..."
      class="border px-4 py-2 rounded-lg w-1/2 border-blue-600 focus:ring-blue-600"
    />
  </div>
  <table class="min-w-full">
    <thead class="bg-gray-200 text-gray-700">
      <tr>
        <th class="py-3 px-4 text-left">ID</th>
        <th class="py-3 px-4 text-left">Name</th>
        <th class="py-3 px-4 text-left">Email</th>
        <th class="py-3 px-4 text-left">Created</th>
        <th class="py-3 px-4 text-left">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% users.forEach(user => { %>
      <tr class="hover:bg-gray-100">
        <td class="py-3 px-4 font-medium"><%= user.id %></td>
        <td class="py-3 px-4 font-medium">
          <a
            href="/user/<%= user.id %>"
            class="text-blue-600 font-semibold hover:underline"
            ><%= user.name %></a
          >
        </td>
        <td class="py-3 px-4 font-medium"><%= user.email %></td>
        <td class="py-3 px-4 font-medium">
          <%= new Date(user.created_at).toLocaleDateString('en-GB') %>
        </td>
        <td class="py-3 px-4 flex gap-4 items-center">
          <!-- View User -->
          <a href="/user/<%= user.id %>">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 472 384"
            >
              <path
                fill="#000000"
                d="M235 32q79 0 142.5 44.5T469 192q-28 71-91.5 115.5T235 352T92 307.5T0 192q28-71 92-115.5T235 32zm0 267q44 0 75-31.5t31-75.5t-31-75.5T235 85t-75.5 31.5T128 192t31.5 75.5T235 299zm-.5-171q26.5 0 45.5 18.5t19 45.5t-19 45.5t-45.5 18.5t-45-18.5T171 192t18.5-45.5t45-18.5z"
              />
            </svg>
          </a>

          <!-- Delete User -->
          <form
            method="POST"
            action="/delete/<%= user.id %>"
            onsubmit="return confirm('Delete this user?');"
          >
            <button type="submit">
              <svg
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#000000"
                  d="M19.45 7.5H4.55a.5.5 0 0 0-.5.54l1.28 14.14a2 2 0 0 0 2 1.82h9.34a2 2 0 0 0 2-1.82L20 8a.5.5 0 0 0-.5-.54Zm-9.2 13a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0Zm5 0a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0ZM22 4h-4.75a.25.25 0 0 1-.25-.25V2.5A2.5 2.5 0 0 0 14.5 0h-5A2.5 2.5 0 0 0 7 2.5v1.25a.25.25 0 0 1-.25.25H2a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2M9 3.75V2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1.25a.25.25 0 0 1-.25.25h-5.5A.25.25 0 0 1 9 3.75"
                />
              </svg>
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script>
  const searchInput = document.getElementById("searchInput");

  searchInput.addEventListener("keyup", () => {
    const filter = searchInput.value.toLowerCase();
    const rows = document.querySelectorAll("tbody tr");

    rows.forEach((row) => {
      const name = row.querySelector("td:nth-child(2)").innerText.toLowerCase();
      const email = row
        .querySelector("td:nth-child(3)")
        .innerText.toLowerCase();

      row.style.display =
        name.includes(filter) || email.includes(filter) ? "" : "none";
    });
  });
</script>
